.res{
    background-color: whitesmoke
    font-family: times new roman; sans-serif; serif;
    color: black;

}
.resb{
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin: 35px;
    padding: 25px;
    border: 20px black;


}
.pres{
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin: 35px;
    padding: 25px;
    border: 20px black;
    text-align: center;
    font-size: large;
}
.navres{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;

}
body{
    background-color: whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin: 35px;
    padding: 25px;
    border: 20px black;
    text-align: left;
}